/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.section-info {
    display: block;
    margin: 100px auto;
    max-width: 500px;
    text-align: center;
}

.section-info h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}


.section-info p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* Header Section  */
header {
    background: rgba(229, 84, 115, 0.15);
    display: flex;
    justify-content: center;
}

.header-container {
    max-width: 1140px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header-box {
    margin-bottom: 100px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 65px;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 30px;
    max-width: 700px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
    max-width: 580px;
}

.header-img {
    width: 500px;
}

/* Our Flowers Section  */
.our-flower {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
}

.featured-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.featured-flower-l {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 370px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 85px 60px 0;
}

.featured-flower-c {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 95px 35px 0;

}

.featured-flower-r {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 370px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 85px 60px 0;

}

.featured-img-l {
    width: 250px;
    height: 340px;
}

.featured-img-c {
    width: 300px;

}

.featured-img-r {
    width: 250px;
    height: 375px;
}

.caption-container {
    display: flex;
    justify-content: space-around;
    margin: 25px 0 100px;
}

.flower-caption {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Delivery Section */
.delivery {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
}

.delivery-container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 65px;
    text-align: center;
    margin-bottom: 100px;
}

.delivery-box img {
    width: 70px;
    margin-bottom: 24px;
}

.delivery-box p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

/* Hot Deal Section */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
}

.deal-container {
    display: flex;
    gap: 200px;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
}

.deal-box {
    max-width: 480px;
    text-align: center;
}

.deal-box h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.deal-box p {
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 24px;
    line-height: 24px;
}

.deal-img {
    width: 250px;

    margin: 80px 0;
}

/* Gallery Section  */
.gallery {
    display: block;
    margin: 0 auto;
    max-width: 1140px;
}


.gallery-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-container img {
    width: 275px;
}

/* Email Section */
.email-sub {
    display: block;
    max-width: 1140px;
    margin: 100px auto;
}

.sub-box {
    padding: 100px 0;
    text-align: center;
    background: url('img/rect-9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.sub-box h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.sub-box p {
    color: rgba(39, 39, 39, 0.60);
    line-height: 20px;
    margin-bottom: 35px;
}

.sub-box form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.sub-box input[type="text"] {
    padding: 15px 35px;
    background: #FFF;
    line-height: 22px;
    width: 550px;
    border: none;
}

/* Footer Section */
footer{
    background: #201d1d;
}

.footer-wrap{
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 0px;
}

footer h2{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

footer p{
    color: rgba(255, 255, 255, 0.90);
    width: 500px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    margin-bottom: 25px;
}

.credit{
    color: rgba(255, 255, 255, 0.50);
text-align: center;
font-size: 15px;
}